<form #f="ngForm">
  <div class="row">
    <h3>Details: {{alarm.name}}</h3>
  </div>
  <div class="row">
    <button class="btn btn-primary" type="submit" *ngIf="authService.getRole()!='mass' && alarm.status == 'Detected'" (click)="changeStatusAlarm(alarm.id,'Activated')">Activate</button>
    <button class="btn orange" type="submit" *ngIf="authService.getRole()!='mass' && alarm.status == 'Detected'" (click)="changeStatusAlarm(alarm.id,'Dismissed')">Dismiss</button>
    <button (click)="createIntervention()" class="btn btn-primary blue" type="submit" *ngIf="authService.getRole()=='mass' && (alarm.status == 'Activated')">Intervene</button>
    <button (click)="currentIntervention()" *ngIf="alarm.status == 'Intervened' || alarm.status == 'Accepted' || alarm.status == 'Rejected'" class="btn blue">Intervention</button>
    <button (click)="saveAlarm(f)" *ngIf="alarm.status == 'Activated' || alarm.status == 'Detected'" class="btn blue">Save</button>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <span for="timestamp">Timestamp</span>
      <input type="text" id="timestamp" name="timestamp" [(ngModel)]="alarm.timestamp" readonly>
    </div>
    <div class="form-group col-md-3">
      <span for="status">Status</span>
      <input type="text" id="status" name="status" [(ngModel)]="alarm.status" readonly>
    </div>
    <div *ngIf="authService.getCompany()=='mass' && alarm.status == 'Activated'" class="form-group col-md-3">
      <span for="code">Alarm Code</span>
<p-dropdown name="code" [options]="codes" [(ngModel)]="selectedCode" placeholder="Select a code" optionLabel="code" [showClear]="true"></p-dropdown>
    </div>
    <!--
    <div class="form-group col-md-3">
      <span for="code">Alarm Code</span><tr></tr>
      <p-dropdown name="code" [options]="codes" [(ngModel)]="selectedCode" placeholder="Select a code" optionLabel="code" [showClear]="true"></p-dropdown>
    </div>
    <div class="form-group col-md-6">
      <span for="name">Name</span>
    <input ngModel type="text" id="name" name="name" value="{{selectedCode ? selectedCode.name: ''}}" readonly>
  </div>-->
    <div class="form-group col-md-3">
      <span for="origin">Origin</span>
      <input type="text" id="origin" name="origin" [(ngModel)]="alarm.origin" readonly>
    </div>
  </div>
  <div class="row">
    <div *ngIf="authService.getCompany()=='mass' && alarm.status == 'Activated'" class="form-group col-md-6">
      <span for="name">Name</span>
    <input ngModel type="text" id="name" name="name" value="{{selectedCode ? selectedCode.name: ''}}" readonly>
  </div>
    <div *ngIf="authService.getCompany()=='mass' && alarm.status == 'Activated'" class="form-group col-md-3">
      <span for="type">Type</span><tr></tr>
      <p-dropdown name="type" [options]="types" [(ngModel)]="selectedType" placeholder="Select a type" optionLabel="name" [showClear]="true"></p-dropdown>
    </div>
    <div *ngIf="authService.getCompany()=='mass' && alarm.status != 'Activated'" class="form-group col-md-3">
      <span for="type">Type</span><tr></tr>
      <input type="text" id="type" name="type" [(ngModel)]="alarm.type" readonly>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <span for="machine">Machine</span>
      <input type="text" id="machine" name="machine" [(ngModel)]="alarm.machine" readonly>
    </div>
    <div class="form-group col-md-3">
      <span for="company">Company</span>
      <input type="text" id="company" name="company" [(ngModel)]="alarm.company" readonly>
    </div>
    <div class="form-group col-md-6">
      <span for="comment">Comment:</span>
      <textarea  style="height: 100px;" id="comment" name="comment" [(ngModel)]="alarm.comment" [readOnly]="alarm.status != 'Detected'"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="right-aligned">
      <span disabled="">{{alarm.id}}</span>
    </div>
  </div>
</form>
